@charset "utf-8";

html {
    margin: 0;
    background-color: #000000;
}


header {
    font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    word-wrap: break-word
}

#top {
    border-bottom: 1px solid #ccc;
    border-color: orange;
    margin-bottom: 1rem;
}


main {
    flex: 1;
}


footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    }

    #ft::before {
        content: "";
        display: block;

        flex-direction: column;
        border-top: 1px solid #ccc;
        border-color: orange;
    }

    #ft::after {
        font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
        content: "\Aネコにしかわからない プログラミング入門 \A© 2024 富沢エアズ";
        white-space: pre;
}


body::before {
    content: "ネコにしかわからない プログラミング入門";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 900px;
    min-width: 240px;

    margin: 0 auto;
    overflow-y: scroll;

    font-family: 'BIZ UDゴシック', 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;

    border-style: double;
    border-width: 25px;
    border-radius: 10px;
    border-color: #0accbc;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;

    background-color: #e8ffe8;
}



/* ---------- アコーディオン ---------- */

details {
    padding-top: 2rem;
    padding-bottom: 30px;
    }

    summary {
        display: block;
        font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
        font-weight: Bold;

        padding: 5px;

        background-color: #98f1c0;
    }

    summary:hover {
        cursor: pointer;
        background-color: #4ef097;
        border-radius: 50px;
        padding: 5px;
    }

    summary::-webkit-details-marker {
        display: none;
        cursor: pointer;
        border-radius: 50px;
        padding: 5px;
        background-color: #c7ffe0;
    }


        details[open] {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            padding-bottom: 1px;

            margin-right: 2px;
            margin-bottom: 40px;

            box-shadow: 3px 3px 4px #909090;
            /* transition: all 0.2s ease-out; */

            background-color: #fdfde0; /* 記事背景*/

        }

        details[open] > summary {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-bottom: 1px;

            box-shadow: 3px 3px 4px rgb(156, 156, 156);

            background-color: #c2f5ab;
        }

        details[open] > summary:hover {
            border-radius: 15px;
            padding-bottom: 1px;

            box-shadow: 3px 3px 4px rgb(182, 182, 182);

            background-color: #95ec6c;
        }

        details[open] details > summary {
            border-radius: 0px;

            padding-bottom: 1px;

            box-shadow: 0px 0px 0px rgb(182, 182, 182);
            /*box-shadow: 3px 3px 4px rgb(182, 182, 182);*/

            background-color: #f1c098;
        }

        details[open] details > summary:hover {
            border-radius: 15px;
            padding-bottom: 1px;

            box-shadow: 0px 0px 0px rgb(182, 182, 182);
            /*box-shadow: 3px 3px 4px rgb(182, 182, 182);*/

            background-color: #f0974e;
            /*background-color: #ffad4f;*/
        }


            details[open] details[open] {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;

                padding-bottom: 1px;

                margin-right: 3px;
                margin-bottom: 40px;

                box-shadow: 3px 3px 4px #a0a0a0;
                background-color: #fdfde0;

            }

            details[open] details[open] > summary {
                border-radius: 0px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                padding-bottom: 1px;

                box-shadow: 3px 3px 4px rgb(182, 182, 182);

                background-color: #ffa069;
            }

            details[open] details[open] > summary:hover {
                border-radius: 15px;
                padding-bottom: 1px;

                box-shadow: 3px 3px 4px rgb(182, 182, 182);

                background-color: #ff8769;
            }


    summary::before {
        content: "🌼";
        margin-inline-end: 14px;
    }

    details details > summary::before {
        content: "🐍";
        margin-inline-end: 14px;
        padding-left: 20px;
}



/* ---------- サンプルプログラム表示 ---------- */


    details details.sample-code {
        padding-top: 1.5rem;
        padding-bottom: 0px;
        }
        
	details details.sample-code > summary::before {
        content: "動かしてみる";
		color: blue;
    }

    details details.sample-code > summary {
    display: inline-block;
    font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    font-weight: Bold;
    border-radius: 50%;

    box-shadow: 3px 3px 4px rgb(127, 127, 127);

	background-color: #6aff6a;
    }

    details details.sample-code > summary:hover {
        cursor: pointer;
		border-radius: 50%;

		background-color: #0099ff;
    }

        details details.sample-code[open] {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-bottom: 1px;

            margin-right: 2px;
            margin-bottom: 1rem;

            box-shadow: 0px 0px 0px #909090;
            transition: all 1s ease-out;
            /*filter: brightness(70%);*/
            background-color: antiquewhite; /* 記事背景*/

        }


        details details.sample-code[open] > summary::before {
            content: "▲ 閉じる ▲";
            color:white;
        }

        details details.sample-code[open] > summary {
            margin-right: 1rem;;
            box-shadow: none;

            background-color: #0099ff;
        }

        details details.sample-code[open] > summary:hover {
            padding-bottom: 1px;
            box-shadow: none;
            background-color: #ff8769;
}


/* ---------- 文章枠 ---------- */

ul {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
    
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 15px;

    /* box-shadow: 3px 3px 4px rgb(202, 202, 202); */

    background-color: antiquewhite;
}



/* ---------- リスト ---------- */

li.look {
        display:inline-block ;
        position: relative;

        overflow-x: auto;
        white-space: nowrap;

        padding: 25px;
        padding-right: 50px;

        border-style: ridge;
        border-color: #d1660e;
        border-width: 10px;
        min-width: 300px;
        border-radius: 5px;

        margin-top: 2.5rem;
        margin-bottom: 2rem;

        box-shadow: 5px 5px 5px rgb(116, 116, 116);

        background-color: rgba(248, 216, 148, 0.616);
    }

        li.look::before {
            content: "😼 Moi, je suis un chat.";
            
            font-family: 'Segoe Script', 'MV Boli';
            font-size: 14px;
            position: absolute;

            top: 0px; /* 上ぴったり */
            left: 0px; /* 左ぴったり */

            padding-left: 8px;
            padding-right: 8px;

            /* border-top-left-radius: 15px; */
            border-bottom-right-radius: 15px;

            background-color:rgb(253, 210, 117);
        }

        li.look::after {
            content: "Mais, je n'ai pas de nom encore. 😼";

            font-family: 'Segoe Script', 'MV Boli';
            font-size: 14px;
            position: absolute;

            bottom: 0px; /* 下ぴったり */
            right: 0px; /* 右ぴったり */
            
            padding-left: 8px;
            padding-right: 8px;
            
            border-top-left-radius: 15px;
            /* border-bottom-right-radius: 15px; */

            background-color:rgb(253, 210, 117);
        }

    li.warning {
        display: inline-block;
        position: relative;
        font-family: Serif, 'BIZ UDゴシック', 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
        font-weight: bold;
        
        border-style: ridge;
        border-color: #d64f4f;
        border-width: 12px;
        border-radius: 4px;        
        
        padding: 35px;
        
        margin-top: 20px;
        margin-bottom: 20px;

        box-shadow: 5px 5px 5px rgb(116, 116, 116);

        background-color: #fcb9b9;
    }

        li.warning::before {
            content: "😼 Zettai!";
            
            font-family: 'Segoe Script', 'MV Boli';
            font-size: 14px;
            position: absolute;

            top: 0px; /* 上ぴったり */
            left: 0px; /* 左ぴったり */

            padding-left: 8px;
            padding-right: 8px;

            /* border-top-left-radius: 15px; */
            border-bottom-right-radius: 15px;

            background-color:#ff9e9e;
        }

        li.warning::after {
            content: "Unmei! 😼";
            
            font-family: 'Segoe Script', 'MV Boli';
            font-size: 14px;
            position: absolute;

            bottom: 0px; /* 下ぴったり */
            right: 0px; /* 右ぴったり */
            
            padding-left: 8px;
            padding-right: 8px;
            
            border-top-left-radius: 15px;
            /* border-bottom-right-radius: 15px; */

            background-color:#ff9e9e;
        }

    li.ChatGPT {
        display:inline-block ;
        position: relative;

        overflow-x: auto;
        white-space: nowrap;

        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; max-width: 610px;
        color: #d1d5db;

        padding: 25px;
        padding-right: 50px;

        border-style: ridge;
        border-color: #343541;
        border-width: 10px;
        max-width: 650px;
        min-width: 300px;
        border-radius: 5px;

        margin-top: 30px;
        margin-bottom: 20px;

        box-shadow: 5px 5px 5px rgb(116, 116, 116);

        background-color: #343541;
    }

        li.ChatGPT::before {
            content: "ChatGPT 3.5";
            
            font-size: 20px;
            font-weight: bold;
            color: white;
            position: absolute;

            top: 0px; /* 上ぴったり */
            left: 0px; /* 左ぴったり */

            padding-left: 8px;
            padding-right: 8px;

            background-color:#343541;
}


    
    
/* ---------- コード ---------- */

:not(pre) > code, .cmt {
    white-space: nowrap; 
    overflow-x: auto;

    font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
    font-size: 14px;
    border: 1px solid #818181;
    border-radius: 5px;

    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;

    background-color: #ddd
    }

    div > code:not([class="language-python"], .cmt), .output {
        display:inline-block;
        max-width: fit-content;
        white-space: nowrap; 
        overflow-x: auto; 
        overflow-y: hidden;

        font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
        font-size: 14px;
        border: 1px solid #faa405;
        border-radius: 5px;
        
        padding-top: 0px;
        padding-left: 7px;
        padding-right: 6px;
        padding-bottom: 0px;
        margin-bottom: -5px;

        background-color: #cfffd3
    }

    div.grid-output {
        display: grid;
        overflow-x: auto; 
        overflow-y: hidden;
        grid-template-columns: min-content auto;
        /* grid-template-rows: repeat(1, 1fr); */
    
        align-items:baseline;

        padding-bottom: 2px;

        grid-column-gap: 16px;
        grid-row: 2px;
    }
    div.grid-output > span {
        white-space: nowrap;
    }


    div pre > code.plaintext {
        display: block;
        white-space: pre; 
        box-sizing: border-box;
        overflow: auto;

        font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
        font-size: 14px;
        color: #ffffff;

        border: 0px solid #000;
        border-radius: 0px;

        padding: 5px;

        background-color: #000000
    }

    div pre > .sample-input::before {
        font-family: '游明朝 Demibold';
        content: "入力例 ";
}


/* ---------- テーブル ---------- */

div.x-fit {
    overflow-x: auto;
}

table {
    border-collapse: collapse; /* セルの境界線を結合して1つの線にする */
    border: 8px double #89bb75;
    background-color: rgb(255, 243, 226);

    }

    th, td {
        white-space: nowrap;
        border: 1px solid #0a8106;
        padding: 8px;
    }

    th.line {
        background-image: linear-gradient(to right top, transparent calc(50% - 1.0px), #0a8106 50%, #0a8106 calc(50%), transparent calc(50% + 1px))
}


/* ------------------------------ 文字 ------------------------------ */


/* ---------- 強調文字 ---------- */

strong {
    font-weight: bold;
    text-shadow: none;
    color: #cc0000;
    }

    .special {
        white-space: nowrap; 
        text-shadow: 2px 2px 4px rgba(145, 67, 67, 0.5); /* 影の追加 */
        color: #ff0000;
    }

    .b {
        white-space: normal;
        color: #000000;
    }

    .for::before {
        content: " for";
        color: blue;
    }

    .while::before {
        content: " while";
        color: blue;
    }

    .if::before {
        content: " if";
        color:magenta;
    }

    .elif::before {
        content: " elif";
        color: magenta;
    }
    
    .func {
        white-space: nowrap; 
        color: chocolate;
    }
    .func::before {
        content: " ";
    }
    .func::after {
        content: " ";
}


ruby.pos-ud {
    ruby-position: under;
}


@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    .blink-text {
        animation: blink 1s infinite;
    }


/* ---------- 取り消し線 ---------- */

s {
    text-decoration-line: line-through solid;
    text-decoration-color: rgba(0, 0, 0, 0.50);
    text-decoration-thickness: 0.5em;
}

dt {
    font-weight: bold;
    color:red
    }

    dt.dm {
        font-weight: bold;
        color:blueviolet
}

/* ------------------------------------------------------------ */



/* ---------- リンク ----------*/

a, a:visited {
    font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
    text-decoration: none;
    color: #000000;
    display: inline-block;
    border-bottom: 12px double yellowgreen;
    font-size: small;
    }

    a.linked {
        display: inline-block;
        white-space: nowrap; 

        text-decoration: none;
        color: blue;
        border-bottom: 2px solid blueviolet;
    }

    a.idx:before {
        content: "😸";
        margin-right: 1rem;
    }
    a.idx {
        display:block;
        font-size:medium;
        font-weight: bold;

        border-bottom: none;
        border-top-left-radius: 100%;

        margin-top: 2rem;
        margin-bottom: 1rem;;
        margin-left: 3rem;

        transition: all 0.3s ease-out;

        background-color: #00ffd562;
    }

    a.idx:hover::before {
        content: "😻";
    }

    a.idx:hover {
        text-shadow: #000;
        color:#000000;
        background-color: #008cff62;
    }

    a:hover {
        color: #76d7f5;
    }

    a.backto::before {
        content: "✅";
        background-color: #71ecdc9f;
        border-radius: 50%;
        padding: 10px;

        margin-left: 10px;
        margin-right: 10px;    
    }

    a.backto::after {
        content: "<終>";
        margin-inline-start: 14px;
        margin-inline-end: 10px;
}


    
    td a.td {
        border: 0;
        font-family: 'Consolas','Monaco','Andale Mono','Ubuntu Mono',monospace;
        font-size: 16px;
    }

        td a.td:hover {
            color: #dd0000;
            font-weight: bolder;
            text-decoration: underline;
        }

    td.link:hover {
        background-color: #c0ffc0;
    }

/* ---------- 段落 ---------- */

footer#ft > p::after {
    content: "≪終≫";
    margin-left: 1rem;
}


/* ---------- 数学文字 ---------- */

math {
    font-family: 'Cambria Math', 'Arial', sans-serif;
    font-size: 20px;
}



/* ---------- 水平線 ---------- */

hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    }

    hr {
        border-top: 1px solid #ccc;
        border-color: orange;
}



/* ---------- 見出し ---------- */

h1 {
    font-family: 'BIZ UDゴシック';
}


h2 {
    display: inline-block;
    font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;

    border-bottom: 4px solid #00dd00;

    padding-left: 15px;
    margin-bottom: 0.2rem;
}


h3 {
    display: inline-block;
    font-family: 'メイリオ', 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;

    border-bottom: 4px solid #00dddd;

    padding-left: 15px;
    margin-bottom: 0.2rem;

}



/* ---------- class ---------- */

.inlook {
    background-color: rgba(248, 180, 148, 0.616);
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 30px;
}


body::before {
    content: "ネコにしかわからない プログラミング入門";
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}



/* ---------- id ---------- */
.homebtn {
    width: 25px;
    height: 0;
    margin: 0 0 0 auto;

}

#homeBtn {
    display: block;
    position: fixed;

    z-index: 9;

    content: "";
    color: #ffffff;
    font-size: 130%;

    text-orientation: upright; /* テキストの向きを指定 */
    white-space: nowrap; /* 文字を折り返さないように指定 */

    padding: 12px;
    border-radius: 50%;

    border-bottom: none;
    cursor: pointer;

    background-color: #ff5d5d7f;
}

.topbtn {
    width: 25px;
    height: 0;
    margin: 0 0 0 auto;

}

#topBtn {
    display: none; /* 最初は非表示にする */
    position: fixed;

    z-index: 10;

    content: "";
    color: #ffffff;
    font-size: 130%;

    /* writing-mode: vertical-rl; /* 縦書きにするプロパティ */
    text-orientation: upright; /* テキストの向きを指定 */
    white-space: nowrap; /* 文字を折り返さないように指定 */

    padding: 12px;
    border-radius: 50%;

    border-bottom: none;
    cursor: pointer;

    background-color: #5dabff7f;
}
